.page-container{
  height: 89.5vh;
  width: 100vw;
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(black, red);
}

.text {
    top: 50%; 
    right: 50%;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-shadow: 1px 1px 1px #570c0c,
        1px 2px 1px #570c0c,
        1px 3px 1px #570c0c,
        1px 4px 1px #570c0c,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.sad-smile {
  cursor: pointer;


  text-shadow: 1px 1px 1px #570c0c,
        2px 1px 1px #570c0c,
        3px 1px 1px #570c0c,
        4px 1px 1px #570c0c,

    18px 1px 6px rgba(16,16,16,0.4),
    22px 1px 10px rgba(16,16,16,0.2),
    25px 1px 35px rgba(16,16,16,0.2),
    30px 1px 60px rgba(16,16,16,0.4);
}

h1 {
  transform: rotate(90deg);
  font-size: 50px;
}

strong {
  font-size: 400px;


  text-shadow:
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

@media (max-width: 700px) {
  strong {
    font-size: 300px;
  }
  
  .text {
    font-size: 15px;
  }
}

@media (max-width: 525px) {
  strong {
    font-size: 200px;
  }
  
  .text {
    font-size: 10px;
  }
}